.createProfile{
	margin-bottom:60px;
	&>.container-fluid{
		padding-left:0px;
		padding-right:0px;
		&>.row{
			margin-left:0px;
			margin-right:0px;
			&>.createProfile__content{
				padding-left:0px;
				padding-right:0px;
			}
		}
	}

	&__header{
		width: 100%;
		height:400px;
		border-bottom:1px solid lightgrey;
		background-image:url(../img/iceland.jpg);
		background-size:cover;
		transition: all .5s ease;
		&>.user__information{
			height: 400px;
			padding:5% 30%;
			
			text-align: center;
			.profile__photo{
				width: 150px;
				height: 150px;
				margin:0 auto;
				&>img{
					width: 90%;
				}
			}
			.profile__name{
				.profile__firstname, .profile__lastname{
					font-size: 30px;
					font-weight: bold;
					// color:#fff;
					color:lightgrey;
					line-height: 1.2;
				}
			}
		}


	}
	.navigation{
		
		position: relative;
		top:80%;
		// left:15%;
		margin:0 auto;
	}
	.tab-panel{
		display: flex;
		max-width: 100%;
		text-align: center;

		margin-left:40%;
		margin-top:-50px;
		&>a, &>label{
			position: relative;
			text-decoration: none;
			display: inline-block;
			padding: 10px;
			font-size: 16px;
			color:lightgrey;
		
			&:hover, &:active, &:focus{
				color: #fff;
				
			}
			&.active{
				font-weight: bold;
				font-size: 18px;
				&:after{
					position: absolute;
					top: 40px;
					left: 50%;
					content: "";
					margin-left: -10px;
					border-left: 10px solid transparent;
					border-right: 10px solid transparent;
					border-bottom: 10px solid #fff;
				}
			}
			// &.active{
			// 	&:after {
			// 		position: absolute;
			// 		top: 40px;
			// 		left: 50%;
			// 		content: "";
			// 		margin-left: -10px;
			// 		border-left: 10px solid transparent;
			// 		border-right: 10px solid transparent;
			// 		border-bottom: 10px solid #fff;
			// 	}
			// }


		}
			input#NewPhoto{
				visibility: hidden;
				width: 10px;
			}
		&>a.nav-link__new-album,
		&>a.nav-link__photos,
		&>label.nav-link__new-photo,
		&>a.nav-link__remove-album{
			display: none;
		}
		border-bottom: 0px;
	}
	.tab-content{
		padding: 20px 40px;
		// border:1px solid gray;
		min-height: 600px;

		form{
			max-width: 50%;
			margin-left:25%;
			label{
				font-weight: normal;
				margin-bottom: 10px;
				margin-top:20px;
			}
			input{
				-webkit-border-radius: 3px;
				border-radius: 3px;
				border: 1px solid rgba(0,0,0,.15);
				padding:7px 10px;
				line-height: 1.25;
			}
			input#profilePhoto{
				padding-left: 0px;
				border:0;
			}
			input#quote{
				height: 60px;
			}

			button.button__submit{
				color: #fff;
				background-color: #0275d8;
				border-color: #0275d8;
				border-radius:3px;
				padding: 5px 15px;
				margin-bottom:20px;
			}
		}
		.album-item-empty, .photo-item-empty{
			list-style-type: none;
			display: none;
			font-size: 20px;
			text-align: center;
			padding:20px;

		}

		.album-item{
			list-style-type: none;
			margin-left:10px;
			position: relative;
			display: inline-block;
			
			overflow: hidden;
			width: calc(25% - 5px);
			height: 200px;
			border:1px solid black;
			border-radius: 5px;
			background: url('../img/no-image.png')  center;
			cursor: pointer;

			&:before {
				content: "";
				height: 100%;
				background: rgba(0,0,0,0.5);
			}
			&:after {
				content: "Open";
				bottom: 0;
				right: 0;
				height: 64px;
				display: none;
				margin: auto 35%;
				color: #fff;
				font-size: 32px;

			}
			&:after, &:before {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				display: none;


			}
			&:hover:after, &:hover:before {
				display: block;
			}
		}

		.photo-item{
			display: inline-block;
			list-style-type: none;
			width: 200px;
			height: 200px;
			border:1px solid black;
			margin-bottom: 10px;
			margin-right: 10px;
			text-align:center;
			
  // vertical-align: baseline;
		}



		[data-content]:first-of-type{
			& input{
				width: 100%;
			}

		}

		[data-content]:not(:first-of-type){
			display: none;

		}
	}
}




/*модальное окно*/
.modal{
	position: fixed !important;
	width: 55% !important;
	// height: 20% !important;
	background-color: #fff !important;
	top:10% !important;
	left:20% !important;
	// margin:10% 20% !important;
	// box-shadow: 2px 2px 5px 10px rgba(0,0,0,0.3) !important;
	display: block !important;
	border-radius:3px !important;
}

.modalEnemies, .modalFriends{
	position: fixed !important;
	width: 600px;
	background-color: #fff !important;
	top:5% !important;
	left:35%;
	display: block !important;
	border-radius:3px !important;
	z-index: 5;
}
.modal-overlay{
	position: fixed;
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	top:0;
	left: 0;
	z-index: 5;
}

.modal-title{
	background:transparent;
	padding:20px;
	color:#333;
	font-size: 26px;
	font-weight: bold;
	position: relative;
	border-bottom:1px solid lightgrey;
}


.modal-close{
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	// background: red;
	top:20px;
	right: 20px;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;

	text-decoration: none !important;
	
	
}

.modal-newElem{
	padding:2% 10% 2% 10%;
	display: block;
}

.modal-newElemInput{
	margin-left:20px;
	padding: 5px 10px;
	border-radius: 3px;
	width: 50%;
}


.modal-edit{
	margin-top: 20px;
	margin-left: 20px;
	padding: 5px 10px;
	border-radius: 3px;
	width:100px;
}








@media (min-width: 1200px){
	.createProfile{
		.navigation {
			width: 1230px;
			max-width: 100%;
		}

	}
}


@media (max-width: 992px){
	.createProfile{

		.tab-content{
			padding:20px 20px;
			form{
				max-width: 100%;
				margin-left:0%;
			}
		}
	}
}

@media (max-width: 575px){
	.createProfile{

		.tab-content{
			padding:20px 10px;
		}
	}
	.col-xs-6{
		width: 100% !important;
	}
}





