

<div class="overlay">
<div class="modal">
<div class="modal-title">New album<a href="#" class="modal-close">x</a></div>
<div class="modal-newElem">Album name:<input class="modal-newElemInput" id="newElemInput">
<button class="modal-edit" style="background-color: blue; color: rgb(255, 255, 255);">Create</button>
</div>
</div>
</div>

