<div class="found--item" data-user-id="' + id + '">
	<div class="found--item--bcg">
	</div>
	<div class="found--item--info">
		<div class="found--item--avatar"><img src="' + photo + '"></div>
		<div class="found--item--name" href="#">
			<span class="found--item--firstname"> ' + firstname + '</span> 
			<span class="found--item--lastname"> ' + lastname + '</span>
		</div>
		<div class="found--item--quote"> ' + quote + '</div>
		<div class="found--item--buttons">
			<button class="found--item--follow">  <i class="icon  fa fa-user-plus"></i>Follow</button>
			<button class="found--item--unfollow">  <i class="icon  fa fa-user-times"></i>Unfollow</button>
			<button class="found--item--block" style="display:none">  <i class="icon fa fa-user-secret"></i>Block</button>
		</div>
	</div>
</div>