<li class="friends__list__item followers" data-user-id="' + id + '">
	<div class="container-fluid">
		<div class="row">
			<div class="friends__logo col-lg-3 col-md-3 col-sm-2 col-xs-2"> <img src=" ' + photo + ' "></div>
			<div class="col-lg-9 col-md-9 col-sm-10 col-xs-10">
				<div class="friends__list__item--info">
					<a href="#" class="friends__name" data-user-id="' + id + '">   <span class="friends__firstname">' + firstname + ' </span><span class="friends__lastname">' + lastname + ' </span></a>
					<div class="friends__buttons"> 
						<button class="friends__unfollow"><i class="icon fa fa-user-times"></i>Unfollow</button> <button class="friends__block"><i class="icon fa fa-user-secret"></i>Block</button></div>
					</div>
				</div>
			</div>
		</div>
	</li>