	<div class="main">
		<section class="content">
			<div class="container">
				<div class="row">
					<section class="left"> 
						<div class="content__left col-xs-12 col-sm-12 col-md-3 col-lg-3">
							<div class="user__info">
							</div>
							<div class="user__about">
							</div>

							<div class="user__albums">
							</div>

						</div>
					</section>

					<section class="center"> 
					</section>

					<section class="right"> 
						<div class="content__right  col-xs-12 col-sm-12 col-md-3 col-lg-3 ">
							<div class="friends">
							</div>

							<div class="sponsored">
							</div>

						</div>
					</section>
				</div>
			</div>
		</section>
