    <nav class='LoginForm login'>
    <div id="imgProfile"> </div>
    <form id='form' class="form" method="post">
    <label class="requiredInput" for="login">Enter login</label><span class="required">*</span>
    <input type="text" id="login" class="login" name="login" placeholder="Login">

    <label class="requiredInput" for="password">Enter password</label><span class="required">*</span>
    <input type="password"  id="password" class="password" name="password" placeholder="Password" >
    <button type="button" id="buttonLogin">Sign In</button>
    </div>
    </form>
    <div id="capsIndicator" > Внимание, нажат CapsLock</div>
    <div id="forgotPassword"><a href="#">Forgot the pasword?</a></div>
    <div id="newRegistration"><a href="#">А тут можно зарегистрироваться</a></div>
    </nav>
