<section class="chat_messages container">
    <div class="chat_friends-list content__right">
        {{!-- <ul class="chat_friend">
            <li class="active">
                <a class="chat_friend-name">
                    Alyson Turner
                    <img src='../../img/avatar1.jpg'/>
                </a>
            </li>
        </ul>
        <ul class="chat_friend">
            <li>
                <a class="chat_friend-name">
                    Gary Halliwell
                    <img src='../../img/avatar2.jpg'/>
                </a>
            </li>
        </ul>
        <ul class="chat_friend">
            <li>
                <a class="chat_friend-name">
                    Leo Mattews
                    <img src='../../img/avatar3.jpg'/>
                </a>
            </li>
        </ul> --}}
        <div class="friends__caption">
            Friends
            <small><a class = "view-all-friends" href="#"> View all </a></small>
            </div>

            <ul class="friends__list">

            <li class="friends__list__item empty" >
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-9 col-md-9 col-sm-10 col-xs-10">
                            <div class="friends__list__item--info">
                                <p class="ifNoFriends"> This will be your friends list </p>

                            </div>
                        </div>
                    </div>
                </div>
            </li>
    </div> 
    <div class="chat_container">
        <p class="chat_friend-name"><a href="#">Alyson Turner</a></p>
        <p class="chat_friend-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p class="chat_user"><a href="#">Me</a></p>
        <p class="chat_user-message">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <input type="text" class="chat_enter-message" placeholder="Enter your message here...">
    </div>
    <div class="chat_message-settings" style="display:none;">
        <div class="chat_delete-message"></div>
        <div class="chat_edit-message"></div>
    </div>
</section>