	<div class="content__center col-xs-12 col-sm-12 col-md-6 col-lg-6">

		<div class="wall">
			
			<ul class="wall__list" id="wall__list">
				<li class="wall__list__item--empty">
					<p>This will be your wall</p>
				</li>

				<li class="wall__list__item search">
					<i class="fa fa-bullhorn" aria-hidden="true"></i>
					<div class="search__items">
						<small class="search--small"> some text </small>
						<div class="search__result--caption">
							Search result
						</div>
						<div class="search__result--empty">
							Nothing found on your request
						</div>
						<div class="search__result--found">


						</div>
					</div>
				</li>

				<!--БЛОК ДОБАВЛЕНИЯ ПОСТОВ-->

				<li class="wall__list__item posts">
					<div class="teal lighten-5 card">
						<div class="card-content">
							<div class="wall__wall-item">
								<input type="text" name="" class="form-control" id="massage" placeholder="Message">
								<span class="input-group-btn camera">

									<label for="postAddPhoto">1
										<!-- <span class="glyphicon glyphicon-camera"> </span> -->
									</label>

									<form method="post" class="createProfileForm" style="font-weight: normal; font-size: 16px;">
										<input type="file" name="UploadForm[imageFile]" id="postAddPhoto" class="btn add-photo center" accept=".jpg, .jpeg, .png">
									</form>

											<!-- <button class="btn add-photo center" type="submit" name="">
												<span class="glyphicon glyphicon-camera"> </span>
											</button> -->
										</span>
										<span class="input-group-btn msg">
											<button class="btn add-massege center" type="submit" name="">
												<i class="fa fa-comment"> </i>
											</button>
										</span>
										
										
									</div>
								</div>
							</div>


							<div class="mediaContent" id="mediaContent">
								<ul class="mediaContentList" id= "mediaContentList">
								</ul>
							</div>

							<!-- БЛОК ВЫВОДА ПОСТОВ И РЕЗУЛЬТАТОВ ПОИСКА -->
							<div class="posts">
								<div class="wall__empty-item card-content">
									<p class="center posts__message"></p>

								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
