	

<!-- <div class="friends__list"> -->
<div class="friends__caption">
Friends
<small><a class = "view-all-friends" href="#"> View all </a></small>
</div>

<ul class="friends__list">

<li class="friends__list__item empty" >
<div class="container-fluid">
<div class="row">
<div class="col-lg-9 col-md-9 col-sm-10 col-xs-10">
<div class="friends__list__item--info">
<p class="ifNoFriends"> This will be your friends list </p>

</div>
</div>
</div>
</div>
</li>



</ul>

<div class="friends__random">
Some random quote
</div>

