

<div class="user__albums__caption">Albums -<a href="#"><span class="user__edit user__albums"> Show more</span></a></div>
<div class="user__albums__description">

<div class="preloader__albums--item" >
<img src="#" alt="preloader">
</div>
<ul class="user__albums__items">
<li class="user__albums__item empty-item">

<p>This will be your album list</p>

</li>
<li class="user__albums__item">



</li>
<li class="user__albums__item">



</li>

</ul>
</div>

