	
Sponsored
<img src="img/sponsored.png" alt="sponsored">
<p><strong>It might be time to visit Iceland.</strong>
Iceland is so chill, and everything looks cool here. Also, we heard the people are pretty nice. What are you waiting for?</p>

<input class="BuyTicket" type="button" value="Buy a ticket">

