

<div class="user__albums__caption">Albums -<a href="#"><span class="user__edit user__albums"> Show more</span></a></div>
<div class="user__albums__description">
	<ul class="user__albums__items" id ="albums">


	</ul>
</div>

