	<div class="content__center col-xs-12 col-sm-12 col-md-6 col-lg-6">

		<div class="wall">

			<ul class="wall__list" id="wall__list">
				<li class="wall__list__item--empty">
					<p>This will be your wall</p>
				</li>

				<li class="wall__list__item search">
					<i class="fa fa-bullhorn" aria-hidden="true"></i>
					<div class="search__items">
						<small class="search--small"> some text </small>
						<div class="search__result--caption">
							Search result
						</div>
						<div class="search__result--empty">
							Nothing found on your request
						</div>
						<div class="search__result--found">


						</div>
					</div>
				</li>

				<!--БЛОК ДОБАВЛЕНИЯ ПОСТОВ-->

				<li class="wall__list__item posts">
					<div class="teal lighten-5 card">
						<div class="card-content">
							<div class="wall__wall-item">
								<input type="text" name="" class="form-control" id="massage" placeholder="Message">
								<span class="input-group-btn camera">

									<label for="postAddPhoto">
										<span class="glyphicon glyphicon-camera"> </span> 
									</label>

									<form method="post" class="createProfileForm" style="font-weight: normal; font-size: 16px;">
										<input type="file" name="UploadForm[imageFile]" id="postAddPhoto" class="btn add-photo center" accept=".jpg, .jpeg, .png">
									</form>
								</span>
								<span class="input-group-btn msg">
									<button class="btn add-massege center" type="submit" name="">
										<i class="fa fa-comment"> </i>
									</button>
								</span>


							</div>
						</div>
					</div>


<div class="mediaContent" id="mediaContent">
	<ul class="mediaContentList" id= "mediaContentList">
	</ul>
</div>

<!-- БЛОК ВЫВОДА ПОСТОВ И РЕЗУЛЬТАТОВ ПОИСКА -->
<div class="posts">
	<div class="wall__empty-item card-content">
		<p class="center posts__message"></p>

	</div>
</div>
</li>










<li class="wall__list__item news">
	<div class="teal lighten-5 card">
		<div class="card-content">
			<div class="wall__wall-item">


			</div>
		</div>
	</div>




	<!-- БЛОК ВЫВОДА новостей И РЕЗУЛЬТАТОВ ПОИСКА -->
	<div class="news">
		<div class="wall__empty-item card-content">
			<p class="center news__message"></p>

		</div>
	</div>
</li>




{{!-- <li class="chats">
	<ul>
		<li class="chats-list">
			{{!-- <div class="chat" data-chat-id="1">
				<div class="chat-date">29.03.2018</div>
				<div class="user-image"><img src="img/no-image-user.jpg" alt=""></div>
				<div class="user-name">firstname lastname</div>
				<div class="text-message">приветlorem50</div>
				<div class="delete-chat">delete chat</div>
			</div>
			<div class="chat" data-chat-id="1">
				<div class="chat-date">29.03.2018</div>
				<div class="user-image"><img src="img/no-image-user.jpg" alt=""></div>
				<div class="user-name">firstname lastname</div>
				<div class="text-message">приветlorem50</div>
				<div class="delete-chat">delete chat</div>
			</div> --}}
		</li>

		<li class="open-chat" data-chat-id="1">
			<div class="btn-back"><span class="glyphicon glyphicon-chevron-left"></span></div>
			<div class="chat-persone">firstname lastname</div>
			<div class="input-form">
				<input class="valeuMessage form-control" type="text" placeholder="Enter your message">
				<span class="input-group-btn">
					<button class="addMessage btn btn-info" type="button">Send</button>
				</span>
			</div>

		</li>
	</ul>

</li> --}}

</ul>
</div>
</div>
