


<div class="user__about__caption">About * <a href="#"> <span class="user__edit">Edit</span></a></div>
<ul>
	<li class="user__about--item"><span class="glyphicon glyphicon-calendar"> </span>Went to <a href="#" id="wentTo" class="went"> no set</a></li>

	<li class="user__about--item"><span class="glyphicon glyphicon-home"> </span>Lives in <a href="#" id="livesIn" class="lived"> no set</a></li>
	<li class="user__about--item">  <li class="user__about--item"><span class="glyphicon glyphicon-map-marker"> </span>From <a href="#" id="from" class="from"> no set</a></li>
</ul>


