	<div class="content__center col-xs-12 col-sm-12 col-md-6 col-lg-6">

		<div class="wall">
			
		<!-- 	<div class="input-group">
				<input type="text" class="form-control" id="message"  placeholder="Message">
				<span class="input-group-btn camera">
					<button class="btn btn-default add-photo" type="button"><span class="glyphicon glyphicon-camera"> </span></button>
				</span>
				<span class="input-group-btn msg">
					<button class="btn btn-default add-message" type="button"><i class="fa fa-comment"> </i></button>
				</span>
			</div>
		-->
			<ul class="wall__list" id="wall__list">
				<li class="wall__list__item--empty">
					<p>This will be your wall</p>
				</li>

				<li class="wall__list__item search">
					<i class="fa fa-bullhorn" aria-hidden="true"></i>
					<div class="search__items">
						<small class="search--small"> some text </small>
						<div class="search__result--caption">
							Search result
						</div>
						<div class="search__result--empty">
							Nothing found on your request
						</div>
						<div class="search__result--found">


						</div>
					</div>
				</li>

				<!--БЛОК ДОБАВЛЕНИЯ ПОСТОВ-->
				<!-- <div class="col s6"> -->
					<li class="wall__list__item posts">
						<!-- <div class="wall"> -->
							<div class="teal lighten-5 card">

								<div class="card-content">
									<div class="wall__wall-item">
										<input type="text" name="" class="form-control" id="massage" placeholder="Message">
										<span class="input-group-btn camera">
											<button class="btn add-photo center" type="submit" name="">
												<span class="glyphicon glyphicon-camera"> </span>
											</button>
										</span>
										<span class="input-group-btn msg">
											<button class="btn add-massege center" type="submit" name="">
												<i class="fa fa-comment"> </i>
											</button>
										</span>
										
										
									</div>
								</div>
							</div>

							<!-- БЛОК ВЫВОДА ПОСТОВ И РЕЗУЛЬТАТОВ ПОИСКА -->
							<div class="posts">
								<div class="wall__empty-item card-content">
									<p class="center posts__message"></p>

								</div>
							</div>
						</li>

						<!-- </div> -->
						<!-- </div> -->






	<!-- 			<li class="wall__list__item message">
					<div class="container-fluid">
						<div class="row">
							<div class="post__user col-lg-2 col-md-2 col-sm-2 col-xs-2">
								<div class="post__user__photo">
									<img src="">
								</div>

							</div>
							<div class="post__content col-lg-10 col-md-10 col-sm-10 col-xs-10">
								<div class="wall__post">
									<div class="wall__post__user">

										<a href="#" class="wall__post__user__name">

										</a>

										<span class="wall__post__user__data">

										</span>
									</div>
									<div class="posts">
										<div class="wall__empty-item card-content">
											<p class="center posts__message"></p>

										</div>
									</div>


									<div class="post__controll commented">
										<span class="set-comment-block commented"> <a href="#"> Commented</a> </span>
										<span class="remove-post"> <a href="#"> Remove post </a> </span>
									</div>


									<div class="post__commented">
										<div class="post__comment">
											<div class="input-group">
												<input type="text" class="form-control"  placeholder="Comment">

												<span class="input-group-btn msg">
													<button class="btn btn-default " type="button"><i class="fa fa-comment"> </i></button>
												</span>
											</div>
										</div>


										<div class="post__controll">
											<span class="set-comment-block closeComment"> <a href="#"> Close comment block </a> </span>
											<span class="remove-post"> <a href="#"> Remove post </a> </span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li> 
				-->

			</ul>

		</div>










	</div>
