
<div class="user__info--header"></div>

<div class="user__info__content">
<div class="user__info__content--photo"><img class="userPhotoMini" src="#"></div>
<div class="user__info__content--firstname"></div> 
<div class="user__info__content--lastname"><a id="firstnameUser" class="firstname" href="#">Anonymous</a> <a id="lastnameUser" class="lastname" href="#">Anonymous</a></div> 
<div class="user__info__content--quote quote"></div> 
<!-- <div class="user__info--content--nikname"><a id="nikname" href="#">Anonymous</a></div>  -->
<ul class="user__info__content--count">
<li class="user__info__content--count--item friends"><a href="#">Friends 
<div class="count__friends"></div></a> </li> 
<li class="user__info__content--count--item enemies"><a href="#"> Enemies
<div class="count__enemies"></div></a> </li>
</ul>
</div>

