

<li class="wall__list__item search">
<i class="fa fa-bullhorn" aria-hidden="true"></i>
<div class="search__items">
<small class="search--small"> some text </small>
<div class="search__result--caption">
Search result
</div>
<div class="search__result--empty">
Nothing found on your request
</div>
<div class="search__result--found">


</div>
</div>
</li>

