
<nav class='LoginForm registration'>

	<div id="imgProfile"> </div>
	<form id='formRegistration' class="form" method="post">
		<input type="text" name="firstname" id="firstname" placeholder="Введите имя">
		<input type="text" name="lastname"  id="lastname" placeholder="Введите фамилию">

		<label class="requiredInput" for="login">Enter login</label><span class="required">*</span>
		<input type="text" id="login" class="login" name="login" placeholder="Введите логин"> 

		<label class="requiredInput" for="email">Enter email</label><span class="required">*</span>
		<input type="email" id="email" class="email" name="email" placeholder="Введите email">

		<label class="requiredInput" for="password">Enter password</label><span class="required">*</span>
		<input type="password"  id="password" class="password" name="password" placeholder="Введите пароль">

		<label class="requiredInput" for="repeatPassword">RepeatPassword</label><span class="required">*</span>
		<input type="password" id="repeatPassword" name="repeatPassword" placeholder="Повторите пароль">
		<button type="button"  id="buttonRegistration">Зарегистрироваться</button>

		<div id="ReturnLoginFromRegistration"><a href="">Return to login</a></div>

	</form>
</nav>