<nav class='LoginForm email'>
<form id='formEmail' class="form" method="post">
<label class="requiredInput" for="email">Enter email</label><span class="required">*</span>
<input type="email" id="email" class="email"  name="email" placeholder="Введите email">

<button type="button"  id="buttonReestablish">Восстановить</button>
<div id="ReturnLoginFromEmail"><a href="">Return to login</a></div>

</form>

</nav>
